@import url("https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap");
@import"reset.css";
@import "variables.css";
/*components*/
@import"components/statusbar.css";
@import "components/screen-header.css";
@import "components/nav.css";
@import "components/user-components.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alternative.css";
@import "components/no-mobile.css";
/*screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
body {
  color: #2e363e;
  font-family: font-family: 'Barlow', sans-serif;
  height:100vh;
}

.main-screen {
padding: 0px var(--horizontal-space);
}



