.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 25px;
  font-weight: 500;
}
.screen-header__icons span {
  margin-left: 20px;
  position: relative;
}

.screen-header__icons span:nth-child(2) {
  margin-left: 20px;
  position: relative;
}

.cog_red-dot {
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: tomato;
  border-radius: 50%;
  right: 0px;
  top: -4px;
}
